html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    line-height: 140%;
    /* max-width: 1260px; */

}


.header_top {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(./img/Headphones_hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {

    box-sizing: border-box;
    padding: 64px 120px;
    background-color: #E5E5E5;
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
}


.menu:target {
    transform: translateX(-0%);

}

.nav {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 32px 0;

}

.text_title {
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
}

.recommended_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;


}

.main {
    padding: 120px;
    background-color: white;
}




.nav_link {
    text-decoration: none;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);

}

.menu-img {
    display: flex;
    justify-content: space-between;
}

.modal_title {
    margin-top: 64px;
}


section {}

.categories_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
}

.howtobuy_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    flex-basis: 50%;
}

.recommended_products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product_photo {
    width: 100%;
    margin-bottom: 32px;
}

.recommended {
    margin-bottom: 120px;
}

.product_title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
}

.product_category {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 140%;

}

.product_price {
    font-weight: bold;
    margin: 0;
}

.product {
    flex-basis: 324px;
}

.categories {
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.categories_photo {
    display: flex;
    gap: 3%;

}

.photo_w {
    width: 65%;
}

.photo_v {
    width: 32%;
}

.categories_title {
    margin-bottom: 64px;
}

.categories-text {
    margin-top: 16px;
    margin-bottom: 64px;

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
}


.howtobuy {
    display: flex;
    gap: 24px;
    max-width: 1020px;
    margin: 0 auto;
}




.howtobuy_list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.howtobuy_content {
    flex-basis: 50%;
}

.footer {
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 460px;
    background-image: url(/img/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* From Uiverse.io by aryamitra06 */
.loader {
    display: flex;
    align-items: center;
}



.bar {
    display: inline-block;
    margin-left: 2px;
    width: 4px;
    height: 25px;
    background-color: black;
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 45px;
    margin: 0 5px;
    animation-delay: 0.25s;
}

.bar:nth-child(3) {
    height: 25px;
    margin: 0 4px;
    animation-delay: 0.5s;
}

.bar:nth-child(4) {
    height: 45px;
    margin: 0 3px;
    animation-delay: 0.75s;
}

.bar:nth-child(5) {
    height: 25px;
    margin: 0 5px;
    animation-delay: 1s;
}

@keyframes scale-up4 {
    20% {
        background-color: grey;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}