html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    line-height: 140%;

}


.header_top {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(./img/Headphones_hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {

    box-sizing: border-box;
    padding: 64px 120px;
    background-color: #E5E5E5;
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
}


.menu:target {
    transform: translateX(-0%);

}

.nav {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 32px 0;

}

.text_title {
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
}

.recommended_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;


}

.main {
    padding: 120px;
}




.nav_link {
    text-decoration: none;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);

}

.menu-img {
    display: flex;
    justify-content: space-between;
}

.modal_title {
    margin-top: 64px;
}


section {
    height: 800px;
}

.categories_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
}

.howtobuy_title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
}

.recommended_products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product_photo {
    width: 100%;
    margin-bottom: 32px;
}

.recommended {
    margin-bottom: 120px;
}

.product_title {
    margin-top: 0;
    margin-bottom: 8px;
}

.product_category {
    margin-top: 0;
    margin-bottom: 12px;

}

.product_price {
    font-weight: bold;
    margin: 0;
}

.product {}